In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):  # range from 0 up to but not including 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):  # range starting from 3 up to but not including 10
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0,10,2):  # range starting from 0 up to but not including 10, step-size of 2 
    print(num)

0
2
4
6
8

In [7]:
list(range(0,11,2))  # range is a generator and cannot be called alone

[0, 2, 4, 6, 8, 10]

In [8]:
index_count = 0

for letter in "abcde":
    print("at index {} the letter is {}".format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [9]:
index_count = 0
word = "abcde"

for letter in word:
    
    print(word[index_count])  # printing the string at the particular index count
    index_count += 1

a
b
c
d
e

In [11]:
word = "abcde"

for letter in word:  # printing the string in sequence
    print(letter)

a
b
c
d
e

In [12]:
# enumerate index count example above, displays tuples of corresponding letter position

word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [2]:
word = "abcde"

for yee, haw in enumerate(word): # can use any word for iterating through a list, but should conform to convention
    print(yee, haw)

0 a
1 b
2 c
3 d
4 e

In [28]:
mylist1 = [1,2,3]
mylist2 = ["a","b","c"]
mylist3 = [100,200,300]

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [29]:
"x" in [1,2,3]

False

In [30]:
"x" in ["x","y","z"]

True

In [32]:
"yes" in {"yes":"hello"}

True

In [34]:
d = {"mykey":123}

123 in d.values()

True

In [69]:
mylist = [10,20,30,40,100]

In [70]:
min(mylist)

10

In [71]:
max(mylist)

100

In [72]:
from random import shuffle

In [73]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [74]:
shuffle(mylist)
mylist

[1, 2, 8, 9, 10, 4, 3, 5, 6, 7]

In [75]:
random_list = shuffle(mylist)

In [76]:
type(random_list)

NoneType

In [77]:
from random import randint

In [78]:
randint(0,100)

48

In [79]:
mynum = randint(0,10)

In [80]:
mynum

4

In [81]:
mynum

4

In [84]:
result = int(input("Enter a number: "))

Enter a number: 3