In [25]:
# newlist = [expression for item in iterable if condition == True]

In [1]:
mystring = "hello"

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
# there is a more efficient way to append objects of a string

In [6]:
mylist = [letter for letter in mystring]

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [x for x in "word"]

In [9]:
mylist

['w', 'o', 'r', 'd']

In [11]:
mylist = [num for num in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# can perform operations on the first variable name

In [15]:
mylist = [num**2 for num in range (0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
mylist = [x**2 for x in range(0,11) if x%2==0]  #list only includes squares of even numbers

In [19]:
mylist

[0, 4, 16, 36, 64, 100]

In [20]:
celcius = [0,10,20,34.5]

farenheit = [((9/5)*temp + 32) for temp in celcius]

In [21]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
# the same calculation using the append method

In [23]:
farenheit = []

for temp in celcius:
    farenheit.append(((9/5)*temp + 32))

In [24]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
results = [x if x%2==0 else "ODD" for x in range(0,11)]  # long flattened list comprehension like this can become too complex

In [27]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [29]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [30]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [31]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [32]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [33]:
# READABILITY IS PARAMOUNT OVER ONE-LINER COOLYBOIS